@font-face{
  font-family:"Oxygen Regular";
  src:url("https://bobvila.com/assets/oxygen-v6-latin-regular-006a95415c04172fecb478c880fe312f579028615c7d8b51df0363c817b6cf85.woff2") format("woff2") ;}

@font-face{
  font-family:"Oswald Regular";
  src:url("https://www.bobvila.com/assets/oswald-v14-latin-regular-7d2d71a37b3b4cdc1e63cea793d01abaec9cbc90c81e4771741e27925204214a.woff2") format("woff2") ;}
